h2 { font-family: 'FOT-ロダンカトレア Pro DB' !important; font-weight: normal !important;}
h3 { font-family: 'FOT-ロダンカトレア Pro DB' !important; font-weight: normal !important;}
p.lead { font-family: 'FOT-ロダンカトレア Pro DB' !important; font-weight: normal !important;}
