.a59_parallaxSlider03 .pxs_bg .pxs_bg1{
	background-image:url(../a09_parallaxSlider03/bg1.png);
}
.a59_parallaxSlider03 .pxs_bg .pxs_bg2{
	background-image:url(../a09_parallaxSlider03/bg2.png);
}
.a59_parallaxSlider03 .pxs_bg .pxs_bg3{
	background-image:url(../a09_parallaxSlider03/bg3.png);
}
