.a59_parallaxSlider02 .pxs_bg .pxs_bg1{
	background-image:url(../a09_parallaxSlider02/bg1.jpg);
}
.a59_parallaxSlider02 .pxs_bg .pxs_bg2{
	background-image:url(../a09_parallaxSlider02/bg2.png);
}
.a59_parallaxSlider02 .pxs_bg .pxs_bg3{
	background-image:url(../a09_parallaxSlider02/bg3.png);
}
