@charset "utf-8";

/* ----------  widgets  ---------- */

/* skin1 */
.skin-1 .wp_widgets ul { padding:0 0 20px 0;}
.skin-1 .wp_widgets ul li {}
.skin-1 .wp_widgets ul li a { background:none; padding:0;}
.skin-1 .wp_widgets ul li a:hover { background:none; padding:0;}
.skin-1 .wp_widgets ul li h2 { border:0; margin:0 0 15px 0; padding:0 0 0 30px; color:#383838; background:url(src/blockskin/skin-1/menuv.png) no-repeat left 2px; text-decoration:none; font-size:140%; min-height:23px;}
.skin-1 .wp_widgets ul li ul { padding:0 15px 0 30px;}
.skin-1 .wp_widgets ul li ul li { border: none; margin-bottom: 5px;}
.skin-1 .wp_widgets ul li ul li a { display: inline !important; background:none !important; border-bottom:1px solid #777 !important; padding:0; color:#666;}
.skin-1 .wp_widgets ul li ul li a:visited	{ border-bottom:1px solid #999 !important; color:#999;}
.skin-1 .wp_widgets ul li ul li a:hover	{ border-bottom:1px solid #eec0c0 !important; background-color:transparent; color:#eec0c0;}

.skin-1 .wp_widgets ul li.widget_search {}
.skin-1 .wp_widgets ul li.widget_search form { border:0; margin:0; padding:0;}
.skin-1 .wp_widgets ul li.widget_search form input{ }
.skin-1 .wp_widgets ul li.widget_search form #searchsubmit { color:#FFF; background:#eec0c0; border:none; padding:1px 10px;}
.skin-1 .wp_widgets ul li.widget_search form #searchsubmit:hover { color:#FFF; background:#f2d7d7; border:none;}
.skin-1 .wp_widgets ul li.widget_search form #searchsubmit:active { background:#efcccc; border:none;}

.skin-1 .wp_widgets ul li table#wp-calendar { }
.skin-1 .wp_widgets ul li table#wp-calendar td,.skin-1 .wp_widgets table#wp-calendar th { padding:0;}
.skin-1 .wp_widgets .widget_calendar {}
.skin-1 .wp_widgets .widget_calendar #calendar_wrap { padding: 0 15px;}
.skin-1 .wp_widgets ul li table caption,.skin-1 .wp_widgets #wp-calendar th { color:#555;}
.skin-1 .wp_widgets ul li table {table-layout: fixed;}
.skin-1 .wp_widgets ul li table td { color:#BBB;}
.skin-1 .wp_widgets ul li table td a { color:#666; text-decoration:underline; padding:1px 0 0 0; background:none;}
.skin-1 .wp_widgets ul li table td a:visited { color:#999; text-decoration:underline; padding:1px 0 0 0;}
.skin-1 .wp_widgets ul li table td a:hover { color:#eec0c0; text-decoration:underline; padding:1px 0 0 0; background-color:none;}
.skin-1 .wp_widgets ul li table #prev a,.skin-1 .wp_widgets ul li table #next a { padding:10px 0 0 0; background: none; color:#666;}
.skin-1 .wp_widgets ul li table #prev a { text-decoration:underline; margin-left:5px;}
.skin-1 .wp_widgets ul li table #next a { text-decoration:underline; margin-right:5px;}
.skin-1 .wp_widgets ul li table #prev a:visited,.skin-1 .wp_widgets ul li table #next a:visited { text-decoration:underline; background:none; color:#999;}
.skin-1 .wp_widgets ul li table #prev a:hover,.skin-1 .wp_widgets ul li table #next a:hover { text-decoration:underline; background:none; color:#f2d7d7;}

.skin-1 .wp_widgets #recentcomments .recentcomments { padding:0; color:#666;}

.skin-1 .wp_widgets ul li .tagcloud { margin:0; padding:0 0 0 30px;}
.skin-1 .wp_widgets ul li .tagcloud a { margin-right: 2px; display: inline !important; background:none !important; border-bottom:none; padding:0; color:#666;}
.skin-1 .wp_widgets ul li .tagcloud a:visited	{ border-bottom:1px solid #999 !important; color:#999;}
.skin-1 .wp_widgets ul li .tagcloud a:hover	{ border-bottom:1px solid #eec0c0 !important; background-color:transparent; color:#eec0c0;}

/* skin2 */
.skin-2 .wp_widgets ul { padding:0 0 20px 0;}
.skin-2 .wp_widgets ul li {}
.skin-2 .wp_widgets ul li a { background:none; padding:0;}
.skin-2 .wp_widgets ul li a:hover { background:none; padding:0;}
.skin-2 .wp_widgets ul li h2 { border:0; margin:0 0 15px 0; padding:0 0 0 30px; color:#fafafa; background:url(src/blockskin/skin-2/menuv.png) no-repeat left 2px; text-decoration:none; font-size:140%; min-height:23px;}
.skin-2 .wp_widgets ul li ul { padding:0 15px 0 30px;}
.skin-2 .wp_widgets ul li ul li { border: none; margin-bottom: 5px;}
.skin-2 .wp_widgets ul li ul li a { display: inline !important; background:none !important; border-bottom:1px solid #AEAEAE !important; padding:0; color:#AEAEAE;}
.skin-2 .wp_widgets ul li ul li a:visited	{ border-bottom:2px solid #666 !important; color:#666;}
.skin-2 .wp_widgets ul li ul li a:hover	{ border-bottom:1px solid #C97676 !important; background-color:transparent; color:#C97676;}

.skin-2 .wp_widgets ul li.widget_search {}
.skin-2 .wp_widgets ul li.widget_search form { border:0; margin:0; padding:0;}
.skin-2 .wp_widgets ul li.widget_search form input{ }
.skin-2 .wp_widgets ul li.widget_search form #searchsubmit { color:#FFF; background:#c97676; border:none; padding:1px 10px;}
.skin-2 .wp_widgets ul li.widget_search form #searchsubmit:hover { color:#FFF; background:#794949; border:none;}
.skin-2 .wp_widgets ul li.widget_search form #searchsubmit:active { background:#a56262; border:none;}

.skin-2 .wp_widgets ul li table#wp-calendar { }
.skin-2 .wp_widgets ul li table#wp-calendar td,.skin-2 .wp_widgets table#wp-calendar th { padding:0;}
.skin-2 .wp_widgets .widget_calendar {}
.skin-2 .wp_widgets .widget_calendar #calendar_wrap { padding: 0 15px;}
.skin-2 .wp_widgets ul li table caption,.skin-2 .wp_widgets #wp-calendar th { color:#AEAEAE;}
.skin-2 .wp_widgets ul li table {table-layout: fixed;}
.skin-2 .wp_widgets ul li table td { color:#444;}
.skin-2 .wp_widgets ul li table td a { color:#AEAEAE; text-decoration:underline; padding:1px 0 0 0; background:none;}
.skin-2 .wp_widgets ul li table td a:visited { color:#666; text-decoration:underline; padding:1px 0 0 0;}
.skin-2 .wp_widgets ul li table td a:hover { color:#C97676; text-decoration:underline; padding:1px 0 0 0; background:none;}
.skin-2 .wp_widgets ul li table #prev a,.skin-2 .wp_widgets ul li table #next a { padding:10px 0 0 0; background: none; color:#AEAEAE;}
.skin-2 .wp_widgets ul li table #prev a { text-decoration:underline; margin-left:5px;}
.skin-2 .wp_widgets ul li table #next a { text-decoration:underline; margin-right:5px;}
.skin-2 .wp_widgets ul li table #prev a:visited,.skin-2 .wp_widgets ul li table #next a:visited { text-decoration:underline; background:none; color:#666;}
.skin-2 .wp_widgets ul li table #prev a:hover,.skin-2 .wp_widgets ul li table #next a:hover { text-decoration:underline; background:none; color:#C97676;}

.skin-2 .wp_widgets #recentcomments .recentcomments { padding:0; color:#AEAEAE;}

.skin-2 .wp_widgets ul li .tagcloud { margin:0; padding:0 0 0 15px;}
.skin-2 .wp_widgets ul li .tagcloud a { margin-right: 2px; display: inline !important; background:none !important; border-bottom:none; padding:0; color:#AEAEAE;}
.skin-2 .wp_widgets ul li .tagcloud a:visited	{ border-bottom:1px solid #666 !important; color:#666;}
.skin-2 .wp_widgets ul li .tagcloud a:hover	{ border-bottom:1px solid #C97676 !important; background-color:transparent; color:#C97676;}


/* ----------  contents  ---------- */
.skin-1 .wp_articles .wp_content_style,.skin-2 .wp_articles .wp_content_style { padding-bottom: 15px;}
.skin-1 .wp_articles .wp_content_style p,.skin-2 .wp_articles .wp_content_style p { padding-bottom: 10px;}
.skin-1 .wp_articles .wp_index_img,.skin-2 .wp_articles .wp_index_img {}
.skin-1 .wp_articles .wp_index_img p,.skin-2 .wp_articles .wp_index_img p { padding-bottom: 10px;}
.skin-1 .wp_articles .wp_archive_img,.skin-2 .wp_articles .wp_archive_img {}
.skin-1 .wp_articles .wp_archive_img span.img span,.skin-2 .wp_articles .wp_archive_img span.img span { padding: 0;}
.skin-1 .wp_articles .wp_single_img,.skin-2 .wp_articles .wp_single_img { width: 100%; text-align: center;}
.skin-1 .wp_articles .wp_search_img,.skin-2 .wp_articles .wp_search_img {}

/* skin1 */
.skin-1 .wp_articles {}
.skin-1 .wp_articles .wp_date_style p { padding-bottom: 5px; font-size: 90%;}
.skin-1 .wp_articles .wp_date_style_single p { padding-bottom:0; font-size:120%; color:#C6C29C; font-weight:bold;}
.skin-1 .wp_articles a.more-link {font-size: 100%; color:#FFF; background:#eec0c0; border:none; padding:3px 10px; display: inline-block;}
.skin-1 .wp_articles a.more-link:visited { color:#FFF; background:#eec0c0; border:none;}
.skin-1 .wp_articles a.more-link:hover { color:#FFF; background:#f2d7d7; border:none;}
.skin-1 .wp_list_pager { text-align:center;}
.skin-1 .wp_list_pager a.page-numbers { margin:0 2px; padding:3px 6px 2px 6px; color:#666; font-size:100%;}
.skin-1 .wp_list_pager a:visited.page-numbers { color:#A5A29D; border-color:#A5A29D;}
.skin-1 .wp_list_pager a:hover.page-numbers { color:#FFF; background-color: #eec0c0;}
.skin-1 .wp_list_pager .current { color:#FFF; background-color: #eec0c0; padding:3px 6px 2px 6px;}
.skin-1 .wp_list_pager .prev { margin:0 10px 0 0; padding:1px 3px;}
.skin-1 .wp_list_pager .next { margin:0 0 0 10px; padding:1px 3px;}
.skin-1 .wp_post_pager { text-align:center;}
.skin-1 .wp_post_pager span.nav-previous { margin:0 0 0 10px;}
.skin-1 .wp_post_pager span.nav-previous a { padding:3px 6px 2px 6px;}
.skin-1 .wp_post_pager span.nav-next { margin:0 10px 0 0;}
.skin-1 .wp_post_pager span.nav-next a { padding:3px 6px 2px 6px;}
.skin-1 .wp_list_pager a.prev,.skin-1 .wp_list_pager a.next,
.skin-1 .wp_post_pager .nav-previous a,.skin-1 .wp_post_pager .nav-next a { color:#666;}
.skin-1 .wp_list_pager a:visited.prev,.skin-1 .wp_list_pager a:visited.next,
.skin-1 .wp_post_pager .nav-previous a:visited,.skin-1 .wp_post_pager .nav-next a:visited { color:#A5A29D; border-color:#A5A29D;}
.skin-1 .wp_list_pager a:hover.prev,.skin-1 .wp_list_pager a:hover.next,
.skin-1 .wp_post_pager .nav-previous a:hover,.skin-1 .wp_post_pager .nav-next a:hover { color:#FFF; background-color: #eec0c0; border:0;}

/* skin2 */
.skin-2 .wp_articles {}
.skin-2 .wp_articles .wp_date_style p { padding-bottom: 5px; font-size: 90%;}
.skin-1 .wp_articles .wp_date_style_single p { padding-bottom:0; font-size:120%; color:#C6C29C; font-weight:bold;}
.skin-2 .wp_articles .wp_content_style p {}
.skin-2 .wp_articles a.more-link {font-size: 100%; color:#FFF; background:#c97676; border:none; padding:3px 10px; display: inline-block;}
.skin-2 .wp_articles a.more-link:visited { color:#FFF; background:#c97676; border:none;}
.skin-2 .wp_articles a.more-link:hover { color:#FFF; background:#794949; border:none;}
.skin-2 .wp_list_pager { text-align:center;}
.skin-2 .wp_list_pager a.page-numbers { margin:0 2px; padding:3px 6px 2px 6px; color:#AEAEAE; font-size:100%;}
.skin-2 .wp_list_pager a:visited.page-numbers { color:#666; border-color:#666;}
.skin-2 .wp_list_pager a:hover.page-numbers { color:#FFF; background-color: #C97676;}
.skin-2 .wp_list_pager .current { color:#FFF; background-color: #C97676; padding:3px 6px 2px 6px;}
.skin-2 .wp_list_pager .prev { margin:0 10px 0 0; padding:1px 3px;}
.skin-2 .wp_list_pager .next { margin:0 0 0 10px; padding:1px 3px;}
.skin-2 .wp_post_pager { text-align:center;}
.skin-2 .wp_post_pager span.nav-previous { margin:0 0 0 10px;}
.skin-2 .wp_post_pager span.nav-previous a { padding:3px 6px 2px 6px;}
.skin-2 .wp_post_pager span.nav-next { margin:0 10px 0 0;}
.skin-2 .wp_post_pager span.nav-next a { padding:3px 6px 2px 6px;}
.skin-2 .wp_list_pager a.prev,.skin-2 .wp_list_pager a.next,
.skin-2 .wp_post_pager .nav-previous a,.skin-2 .wp_post_pager .nav-next a { color:#AEAEAE;}
.skin-2 .wp_list_pager a:visited.prev,.skin-2 .wp_list_pager a:visited.next,
.skin-2 .wp_post_pager .nav-previous a:visited,.skin-2 .wp_post_pager .nav-next a:visited { color:#666; border-color:#666;}
.skin-2 .wp_list_pager a:hover.prev,.skin-2 .wp_list_pager a:hover.next,
.skin-2 .wp_post_pager .nav-previous a:hover,.skin-2 .wp_post_pager .nav-next a:hover { color:#FFF; background-color: #C97676; border:0;}



/* ----------  comment  ---------- */
.skin-1 #respond .comment-notes,.skin-2 #respond .comment-notes { font-size: 90%; padding-bottom:40px;}

/* skin1 */
.skin-1 h3#comment-title, .skin-1 #respond h3#reply-title { margin:0 0 5px 0; padding:0; color:#1E1E1E; font-size:160%; line-height:1.3; font-weight:bold;}
.skin-1 h3#comment-title { margin-bottom: 15px;}
.skin-1 .wp_comment_list { color:#525252;}
.skin-1 .wp_comment_list abbr,.skin-1 .wp_comment_list acronym,.skin-1 .wp_comment_list cite { color:#666;}
.skin-1 .wp_comment_list blockquote { margin:5px 30px; padding:14px 16px; background-image:none; background-color:#EFEFEF; color:#525252;}
.skin-1 .wp_comment_list q {}
.skin-1 .wp_comment_list code, .skin-1 #respond .form-allowed-tags code { color:#777;}
.skin-1 .wp_comment_list p.wp_comment_name_area { padding-bottom:0;}
.skin-1 .wp_comment_list .wp_comment_name_style { color:#1E1E1E; font-weight:bold;}
.skin-1 .wp_comment_list .wp_comment_date_style {}
.skin-1 .wp_comment_list .wp_comment_body_style { padding: 10px 15px; border: 1px solid #E2E2E2; background-color:#F5F5F5; margin-bottom: 25px;}
.skin-1 .wp_comment_list .wp_comment_body_style p { padding-bottom: 0px;}
.skin-1 #respond .comment-form-author label,
.skin-1 #respond .comment-form-email label,
.skin-1 #respond .comment-form-url label,
.skin-1 #respond .comment-form-comment label { display: inline-block; width: 140px; vertical-align: top; font-weight: bold; color:#555;}
.skin-1 #respond .comment-form-author input,
.skin-1 #respond .comment-form-email input,
.skin-1 #respond .comment-form-url input,
.skin-1 #respond .comment-form-comment textarea { color:#666;}
.skin-1 #respond .required { color:#c17566}
.skin-1 #respond .comment-form-author .required,
.skin-1 #respond .comment-form-email .required { display:inline-block; width:10px; margin-left:-14px;}
.skin-1 #respond .form-submit { padding-top: 10px;}
.skin-1 #respond .form-submit #submit { color:#FFF; background:#eec0c0; border:none; padding:10px 20px; font-weight: bold;}
.skin-1 #respond .form-submit #submit:hover { color:#FFF; background:#f2d7d7; border:none;}
.skin-1 #respond .form-submit #submit:active { background:#efcccc; border:none;}

/* skin2 */
.skin-2 h3#comment-title, .skin-2 #respond h3#reply-title { margin:0 0 5px 0; padding:0; color:#fafafa; font-size:160%; line-height:1.3; font-weight:bold;}
.skin-2 h3#comment-title { margin-bottom: 15px;}
.skin-2 .wp_comment_list { color:#AEAEAE;}
.skin-2 .wp_comment_list abbr,.skin-2 .wp_comment_list acronym,.skin-2 .wp_comment_list cite { color:#999;}
.skin-2 .wp_comment_list blockquote { margin:5px 30px; padding:14px 16px; background-image:none; background-color:#2a2a2a; color:#aeaeae;}
.skin-2 .wp_comment_list q {}
.skin-2 .wp_comment_list code, .skin-2 #respond .form-allowed-tags code { color:#888;}
.skin-2 .wp_comment_list p.wp_comment_name_area { padding-bottom:0;}
.skin-2 .wp_comment_list .wp_comment_name_style { color:#fafafa; font-weight:bold;}
.skin-2 .wp_comment_list .wp_comment_date_style {}
.skin-2 .wp_comment_list .wp_comment_body_style { padding: 10px 15px; border: 1px solid #666; background-color:#444; margin-bottom: 25px;}
.skin-2 .wp_comment_list .wp_comment_body_style p { padding-bottom: 0px;}
.skin-2 #respond .comment-form-author label,
.skin-2 #respond .comment-form-email label,
.skin-2 #respond .comment-form-url label,
.skin-2 #respond .comment-form-comment label { display: inline-block; width: 140px; vertical-align: top; font-weight: bold; color:#AEAEAE;}
.skin-2 #respond .comment-form-author input,
.skin-2 #respond .comment-form-email input,
.skin-2 #respond .comment-form-url input,
.skin-2 #respond .comment-form-comment textarea { color:#666;}
.skin-2 #respond .required { color:#883a2b}
.skin-2 #respond .comment-form-author .required,
.skin-2 #respond .comment-form-email .required { display:inline-block; width:10px; margin-left:-14px;}
.skin-2 #respond .form-submit { padding-top: 10px;}
.skin-2 #respond .form-submit #submit { color:#FFF; background:#c97676; border:none; padding:10px 20px; font-weight: bold;}
.skin-2 #respond .form-submit #submit:hover { color:#FFF; background:#794949; border:none;}
.skin-2 #respond .form-submit #submit:active { background:#a56262; border:none;}


/* ---------- wordpress Page Lyout ---------- */
.wp_archivelayout_left {width: 100px; float: left;}
.wp_archivelayout_leftã€€span.img span { padding:0;}
.wp_archivelayout_right { width: 550px; float: right;}
.wp_float_clear { clear:both;}

/* ---------- theme overwrite ---------- */
