.a09_parallaxSlider11 .pxs_bg .pxs_bg1{
	background: #4e4f51 url(bg1.jpg) repeat-x;
}
.a09_parallaxSlider11 .pxs_bg .pxs_bg2{
	background:url(bg2.png) repeat-x;
}
.a09_parallaxSlider11 .pxs_bg .pxs_bg3{
	background:url(bg3.png) repeat-x;
}
