.a59_parallaxSlider01 .pxs_bg .pxs_bg1{
	background-image:url(../a09_parallaxSlider01/bg1.jpg);
}
.a59_parallaxSlider01 .pxs_bg .pxs_bg2{
	background-image:url(../a09_parallaxSlider01/bg2.png);
}
.a59_parallaxSlider01 .pxs_bg .pxs_bg3{
	background-image:url(../a09_parallaxSlider01/bg3.png);
}
