.a09_parallaxSlider08 .pxs_bg .pxs_bg1{
	background-image:url(bg1.png);
}
.a09_parallaxSlider08 .pxs_bg .pxs_bg2{
	background-image:url(bg2.png);
}
.a09_parallaxSlider08 .pxs_bg .pxs_bg3{
	background-image:url(bg3.png);
}
